.newsletter {
    background: #F5F5F5;
    padding: 20px;
}
.watch-transition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-transition__image {
    width: 50%;
}

.reveal {
    height: 100%;
    background: #66636E;
    animation-name: reveal;
    animation-fill-mode: forwards;
    visibility: hidden;
    overflow: hidden;
}

@keyframes reveal {
    0% {
        max-width: 0;
        visibility: hidden;
    }

    100% {
       max-width: 100%;
       visibility: visible;
    }
}
.bg-product-transition,
.product-image,
.product-details {
    position: absolute;
    height: 100%;
}

.bg-product-transition {
    width: 100%;
    top: 0;
    left: 0;
}

/*Cntainer of image*/
.product-image {
    width: 40%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

/*Child */
.product-image__image {
    max-width: 100%;
}

.product-details {
    width: 60%;
    color: white;
    padding: 1.2em;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

/*Transition of product background*/

.toRight {
    animation-name: toRight;
    animation-fill-mode: forwards;
    transform-origin: left;
}

@keyframes toRight {
    0% {
        transform: scaleX(0);
    }

    100% {
       transform: scaleX(1);
    }
}

.toLeft {
    animation-name: toLeft;
    animation-fill-mode: forwards;
    transform-origin: right;
}

@keyframes toLeft {
    0% {
        transform: scaleX(0);
    }

    100% {
       transform: scaleX(1);
    }
}

.toBottom {
    animation-name: toBottom;
    animation-fill-mode: forwards;
    transform-origin: top;
}

@keyframes toBottom {
    0% {
        transform: scaleY(0);
    }

    100% {
       transform: scaleY(1);
    }

    100% {
       transform: scaleY(1);
    }
}

.toTop {
    animation-name: toTop;
    animation-fill-mode: forwards;
    transform-origin: bottom;
}

@keyframes toTop {
    0% {
        transform: scaleY(0);
    }

    100% {
       transform: scaleY(1);
    }
}

.lds-dual-ring {
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.auth-form {
    padding: 20px;
    width: 400px;
    margin: 100px auto;
    max-width: 90%;
    border: 1px solid #999;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
}

.auth-form__register-now {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-form {
    padding: 20px;
    width: 400px;
    margin: 100px auto;
    max-width: 90%;
    border: 1px solid #999;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*# sourceMappingURL=main.css.map*/